/nifi-fhir-nar/*
!/nifi-fhir-nar/target/nifi-fhir-nar-1.0-SNAPSHOT.nar

/target

/nifi-fhir-processors/*
!/nifi-fhir-processors/src/main/java/org/apache/nifi/processors/fhir/*
!/nifi-fhir-processors/src/test/java/org/apache/nifi/processors/fhir/*
